*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    width: 70vw;
    margin: 0 auto;
    
}

section {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px;
}

/* header */
.blog{
    padding-top:50px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
}

.header_link{
    color:gray;
}

img{
    width: 15px;
    height:15px;
}


h1{
    text-decoration: underline;
    text-transform: capitalize;
}

.blog-card{
    border:3px solid #dcdcdc;
    padding: 25px;
    border-radius: 5px;
}

.blog-card_content{
    margin-bottom: 50px;
}

.blog-card_paragraph_text_blue{
    color:blue;
}

.blog-card_paragraph_text_green{
    color:green;
}

h2{
    margin-top: 10px;
    text-transform: capitalize;
}

.blog-card_date{
    color: #707070;
    margin-bottom: 5px;
}


footer{
    height:100px;
    margin:30px auto;
    padding: 50px;
    padding-bottom: 5px;
    background-color: #F0F0F0;
    text-align: center;
    border-top: 1px solid #E0E0E0;

}

.footer_content{
    text-align: center;
    padding-bottom: 0px;
}

.footer_content_info{
    margin-bottom: 5px;
}
